#negertext
{
    background-color: rgb(202, 73, 73);
}

#penistext
{
    text-align: center;
    background-color: rgba(244, 233, 238, 0.276);
}

#linktext
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}